
<!doctype html>
<html lang="en">
<div th:replace="fragments/common :: head"></div>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/common :: header('home')"></div>

<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container">
    <h1 class="mt-5">SpringBoot AtoZ</h1>
    <p class="lead">Zero to Hero</p>
  </div>
</main>

<!--
<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">Place sticky footer content here.</span>
  </div>
</footer>
-->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>
